<%- include('partials/header.ejs') %>

<div class="myfav">
    <% favAnime.forEach(anime => { %>
        <a href="/view/<%= anime.mal_id %>" class="anime">
            <div class="image_space">
                <img src="<%= anime.image_src || 'Unknown.jpg' %>" alt="<%= anime.title || 'none' %>">
                <h3 class="title"><%= anime.title %></h3>
            </div>
            <div class="favAnime_details">
                <p class="score">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                    </svg>
                    <%= anime.score || 'none' %>
                </p>
                <div>
                    <span class="status">Reason</span>
                    <p class="reason"> <%= anime.reason || 'none' %></p>
                </div>
                <div>
                    <span class="status">Recommendation</span> 
                    <p class="recommendation"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M20 6L9 17l-5-5"/>
                        </svg>
                        <%= anime.recommendation || 'none' %>
                    </p>
                </div>
                <div>
                    <span class="status">Favorite Characters</span> 
                    <p class="favChra"><%= anime.favcharacter || 'none' %></p>

                </div>
               
            </div>
        </a>
    <% }) %>
</div>

<%- include('partials/footer.ejs') %>