<%- include('partials/header.ejs') %>
<div class="max-hide">
  <form class=" col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3  search-div" role="search" action="/search" method="GET" >
      <input type="search" class="form-control form-control-dark text-bg-light" name="query"
        placeholder="Search..." aria-label="Search">
      <button type="submit" class="btn btn-primary ">Search</button>
    </form>
</div>
<div class="resul"><h3 class="status result"><%= results.length %>  Results found</h3></div>
<div id="top-list-container" style="width: 100%; height:90vh;">
  <% results.forEach(anime=> { %>
  <a class="cards" href="/view/<%= anime.mal_id %>">
    <div class="cardAnime__cover svelte-f98ila">
      <img src="<%= anime.images.webp.large_image_url %>" title="Bakemonogatari" class=>
          <small class="certification">
            <%= anime.rating.slice(0,8) %>
          </small>
    </div>
    <div class="cardAnime__body svelte-f98ila">
      <div
        class="chip chip--type-animeStatus-finished chip--size-small chip--length-default chip--selectable ">
        <span class="status">
          <%= anime.status %>
        </span>
      </div>
      <div class="cardAnime__meta svelte-f98ila">
        <small class="svelte-f98ila">
          <%= anime.season +"-"+ anime.year %>
        </small>
        <div clsvelteass="divider divider--type-circle svelte-10kbpp2">

        </div> <small class="-f98ila">
          <%= anime.episodes %> episodes
        </small>
      </div>
      <p class="cardAnime__title svelte-f98ila">
        <%= anime.title_english %>
      </p>
      <div class="cardAnime__rating">
        <div class="cardAnime__score svelte-f98ila">
          <div class="svelte-f98ila"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" class="tabler-icon tabler-icon-star ">
              <path
                d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z">
              </path>
            </svg>
            <%= anime.score %>
            <small class="svelte-f98ila">
              <%= anime.members %>  users
            </small>
          </div>
          
        </div>
        <div class="cardAnime__rank svelte-f98ila">
          <div class="svelte-f98ila"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
              stroke-linejoin="round" class="tabler-icon tabler-icon-hash ">
              <path d="M5 9l14 0"></path>
              <path d="M5 15l14 0"></path>
              <path d="M11 4l-4 16"></path>
              <path d="M17 4l-4 16"></path>
            </svg>
            <%= anime.rank %>  <small class="svelte-f98ila">Ranking</small>
          </div>
        </div>
      </div>
    

        <div class="cardAnime__genres svelte-f98ila">
          <% anime.genres.slice(0,2).forEach(genre=>{ %>
          <div class="chip chip--type-flat chip--size-small chip--length-small chip--selectable">
            <span class="status genre">
              <%= genre.name%>
            </span>
          </div>
          <% }) %>
        </div>
       
      
    </div>
  </a>
  <% }); %>
</div>

<%- include('partials/footer.ejs') %>